@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=M+PLUS+Rounded+1c:wght@800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined'); */

@import url('reset.css');
@import url('jquery.bxslider.css');
@import url('module.css');
@import url('global.css');
@import url('page.css');